<html>
<body style="margin: 0;">
  <canvas id="world" style="height:100%; width: 100%;">
  </canvas>
  <video id="camera" style="position:absolute;top:0;right:0;height:80%;width:80%;visibility:hidden;filter:grayscale();"></video>
  <canvas id="supportCanvas" style="position:absolute;top:0;right:0;height:auto;width:80%;opacity:0;"></canvas>
  
  <script src="vector.js"></script>
  <script src="food.js"></script>
  <script src="Layer.js"></script>
  <script src="NN.js"></script>
  <script src="genom.js"></script>
  <script src="Generation.js"></script>
  <script src="particleTypes.js"></script>
  <script src="particle.js"></script>
  <script src="collision.js"></script>
  <script src="message.js"></script>
  <script src="world.js"></script>


</body>
</html>